server:
  port: 8080
  servlet:
    context-path: /iss

  error:
    whitelabel:
      enabled: true

spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/iss_airline_db
    username: postgres
    password: 111
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true

  thymeleaf:
    cache: false
    prefix: classpath:/templates/
    suffix: .html

  web:
    resources:
      add-mappings: true

  security:
    user:
      name: admin
      password: admin

  flights:
    status:
      update-interval-ms: 10000        # интервал проверки
      on-time-window-hours: 1

logging:
  level:
    org.thymeleaf: DEBUG
    org.springframework.web: DEBUG
