<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{layout :: layout(~{::body})}">

<body th:with="pageTitle=${user?.id == null ? 'Добавить пользователя' : 'Редактировать пользователя'}">

<h1 th:text="${user?.id == null ? 'Добавить пользователя' : 'Редактировать пользователя'}"></h1>

<div class="form-container">

    <form th:action="@{/users}" th:object="${user}" method="post">

        <input type="hidden" th:field="*{id}"/>

        <label>Логин:</label>
        <input type="text" th:field="*{username}" required maxlength="50"/>

        <label>Пароль:</label>
        <input type="password" th:field="*{password}" required minlength="3"/>

        <label>Роль:</label>
        <select th:field="*{role}">
            <option th:each="r : ${roles}" th:value="${r}" th:text="${r}"></option>
        </select>

        <button type="submit">Сохранить</button>
    </form>

    <a class="button" th:href="@{/users}">← Назад</a>

</div>

</body>
</html>
